.btn {
  background-color: white;
  margin: 10px;
  border: 1px solid black;
  color: black;
  font-size: 20px;
  padding: 10px 15px;
}

.counter {
  margin: 20px;
  display: inline-block;
  border: 1px solid;
}
.addNewCounter {
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  margin: 10px 40px;
}
.addNewCounterDiv {
  display: flex;
  flex-direction: row-reverse;
}
body {
  font-size: 20px;
}
